<launch>
  <group name="agv-utils">
    <!--Steering Wheel-->
    <node pkg="steering_wheel" type="steering_wheel_node" name="LogitechG29" />
    
    <!-- The navigation stack and associated parameters -->
    
    <!--Arduino-->
	<!--If problems occur, refer to http://answers.ros.org/question/38786/problem-adding-rosserial-node-to-turtlebot-bringup/-->
	<node pkg="rosserial_python" type="serial_node.py" name="wheel00" output="screen">
<param name='~port' value='/dev/ttyUSB4' />
	  <param name="~baud" value="57600" />
    </node>
    <node pkg="rosserial_python" type="serial_node.py" name="wheel01" output="screen">
<param name='~port' value='/dev/ttyUSB1' />
	  <param name="~baud" value="57600" />
    </node>
	<node pkg="rosserial_python" type="serial_node.py" name="wheel02" output="screen">
<param name='~port' value='/dev/ttyUSB5' />
	  <param name="~baud" value="57600" />
    </node>
	<node pkg="rosserial_python" type="serial_node.py" name="wheel03" output="screen">
<param name='~port' value='/dev/ttyUSB6' />
	  <param name="~baud" value="57600" />
    </node>
  </group>
</launch>
